/* Flex */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.align-end {
  align-items: flex-end;
}

.align-self-end {
  align-self: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-self-start {
  align-self: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-end {
  justify-self: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-self-start {
  justify-self: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.text-align-center {
  text-align: center;
}

/* Position */

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

/* Grid */

.grid {
  display: grid;
}

// text
.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold;
}