.home {
    header {
        height: 70vh;
        position: relative;
        display: flex;
        // justify-content: center;
        // text-align: center;

        .back-img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .back-color {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to right, rgba(83, 83, 83, 0.82), rgba(83, 83, 83, 0.2));
        }

        h1 {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            padding: 2rem;
            border-radius: 2px;
            height: fit-content;
            color: $bgColorLight;
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 2px;
            z-index: 1;

            p {
                font-size: 1.7rem;
                margin-top: 2rem;
                line-height: 2.5rem;
            }

            button {
                margin-top: 2rem;
                background-color: transparent;
                color: $bgColorLight;
                font-size: 3rem;

                &:hover {
                    animation-name: move; 
                    animation-duration: 1s; 
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }

                @keyframes move {
                    0%	{transform: translateY(0px);}
                    25%	{transform: translateY(4px);}
                    50% {transform: translateY(8px);}
                    75%	{transform: translateY(4px);}
                    100% {transform: translateY(0px);}
                }
            }
        }
    }

    .container {
        padding: 10px;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 40px 0 10px;
    }

    a {
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
        transition: .3s;

        &:hover {
            color: rgb(90, 90, 90);
        }
    }

    .carousel-container {
        margin-bottom: 50px;
    }
}

// Issue carousel

.issue-carousel {
    
    .issue-preview {
        margin: 10px;
    }

    .carousel-arrow {
        font-size: 1.2rem;
        transform: translateY(-50%);
    }
}