.issue-details-page {
    margin-top: 30px;
    display: flex;

    .issue-details-container {
        flex: 2;
        padding: 0 2rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "details report"
        "details share"
        "img map";
    }

    .issue-details {
        grid-area: details;

        .urgent {
            color: $urgentColor;
        }

        .important {
            color: $importantColor;
        }

        .casual {
            color: $casualColor;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        > p {
            font-size: 1rem;
            margin-top: 1rem;

            &:first-of-type {
                margin-bottom: 3rem;
            }

            &:last-of-type {
                margin-bottom: 1.5rem;
                margin-top: 1.5rem;
            }
        }

        .issue-by {
            margin-top: 5px;
            display: flex;
            align-items: center;

            .user-pic {
                margin: 0 5px;
                @include round(1.7rem);
                border: 0;
                background-color: $darkBorder;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        >::first-letter {
            text-transform: capitalize;
        }

        > a {
            color: $casualColor;
            font-weight: bold;

            &:hover {
                color: darken($casualColor, 15%);
            }
        }
    }
    
    .report-resolve {
        font-size: 1rem;
        grid-area: report;
        justify-self: end;

        .report {
            font-size: 0.9rem;
            margin: 1rem 0;
            color: $casualColor;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: center;

            button {
                font-size: 1rem;
                font-weight: bold;
                background-color: transparent;
                border: 0;
                padding: 0;

                &.resolved, &.seen {
                    color: $urgentColor;
                    margin-top: 0.8rem;
                    margin-bottom: 0.6rem;
    
                    &:hover {
                        color: darken($urgentColor, 15%);
                    }
                }

                &.open {
                    color: $casualColor;
                    
                    &:hover {
                        color: darken($casualColor, 15%);
                    }
                }
            }
        }
    }
    
    .share {
        grid-area: share;
        justify-self: end;

        button {
            font-size: 1rem;
            font-weight: bold;
            color: $casualColor;
            background-color: transparent;
            border: 0;
            padding: 0;

            &:hover {
                color: darken($casualColor, 15%);
            }
        }
    }

    .issue-img {
        grid-area: img;
        width: 100%;
        border: 1px solid $darkBorder;
    }
    
    .map {
        grid-area: map;
    }
}