.issue-filter {
    margin: 1.8rem 3rem;
    display: flex;
    flex-direction: column;
    
    button {
        background-color: transparent;
        font-size: 2.5rem;
        transition: .3s;
        color: $hlColor;

        &:hover {
            color: lighten($hlColor, 15%);
        }
    }

    > div {
        display: flex;
        justify-content: space-between;

        &:last-of-type {
            display: flex;
            flex-direction: column;
            &.close {
                display: none;
            }
            flex: 1;

            > * {
                margin-top: 1rem;
            }
        }
    }

    .issue-search {
        width: 15.5rem;
    }

    .category-filter {
        width: 15.5rem;
    }
    
    .issue-sort {
        display: flex;
        align-items: center;

        >:last-child {
            width: 11.7rem;
        }

        p {
            margin-right: 5px;
        }
    }

    .el-radio-button__inner {
        padding: 12px 0;
        width: 5.2rem;
    }
}