.issue-details-page {
    margin-top: 30px;
    display: flex;

    button, a {
        display: flex;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        border-radius: 2px;
    }

    .issue-details-container {
        flex: 2;
        padding: 0 2rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "details report"
        "details share"
        "img map";
    }

    .issue-details {
        grid-area: details;

        .urgent {
            color: $urgentColor;
        }

        .important {
            color: $importantColor;
        }

        .casual {
            color: $casualColor;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 0.8rem;
            margin-bottom: 1rem;
        }

        > p {
            line-height: 1.2rem;
            font-size: 1rem;
            margin-top: 1rem;

            &:first-of-type {
                margin-bottom: 3rem;
            }

            &:last-of-type {
                margin-bottom: 1.5rem;
                margin-top: 1.5rem;
            }
        }

        .issue-by {
            margin-top: 5px;
            display: flex;
            align-items: center;

            span {
                text-transform: capitalize;
            }

            .user-pic {
                margin: 0 5px;
                @include round(1.7rem);
                border: 0;
                background-color: $darkBorder;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        >::first-letter {
            text-transform: capitalize;
        }

        > a {
            width: fit-content;
            background-color: $casualColor;
            padding: 0.4rem 0.8rem;
            transition: .3s;
            margin-top: 0.5rem;

            &:hover {
                background-color: darken($casualColor, 15%);
            }
        }
    }
    
    .report-resolve {
        grid-area: report;
        justify-self: end;
        font-size: 1rem;

        .report {
            font-size: 0.9rem;
            margin: 1rem 0;
            line-height: 1.2rem;
            color: $casualColor;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            button {
                width: 10.5rem;
                &.resolved, &.seen {
                    margin-top: 0.8rem;
                    margin-bottom: 0.6rem;
                }
                
                &.resolved {
                    background-color: $casualColor;
                    &:hover {
                        background-color: darken($casualColor, 15%);
                    }
                }

                &.seen {
                    background-color: $urgentColor;
                    &:hover {
                        background-color: darken($urgentColor, 15%);
                    }
                }

                &.open {
                    background-color: $casualColor;
                    
                    &:hover {
                        background-color: darken($casualColor, 15%);
                    }
                }
            }
        }
    }

    i {
        margin-right: 6px;
    }
    // .icon {
    //     @include round(1.7rem);
    //     transition: .3s;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     margin-right: 3px;
    //     font-size: 0.9rem;

    //     &.icon-red {
    //         background-color: $urgentColor;
    //         color: white;
    //     }

    //     &.icon-green {
    //         background-color: $casualColor;
    //         color: white;
    //     }
    // }
    
    .share {
        grid-area: share;
        justify-self: end;

        button {
            background-color: $casualColor;
            &:hover {
                background-color: darken($casualColor, 15%);
            }
        }
    }

    .issue-img {
        grid-area: img;
        width: 100%;
        border: 1px solid $darkBorder;
    }
    
    .map {
        grid-area: map;
    }
}