.login-container {
    display: flex;
    flex-direction: column;

    // wide
    // flex-direction: row;

    
    .login, .signup {
        flex: 1;
        padding: 0.5rem;

        // wide
        // padding: 1rem;
    }
    
    .signup {
        border-top: 1px solid $darkBorder;
        // wide
        // border-left: 1px solid $darkBorder;

        .emoji-picked {
            margin-top: 1.5rem;
            margin-bottom: 0.4rem;
            display: flex;
            align-items: center;

            p {
                margin-left: 1rem;
            }

            div {
                font-size: 1.5rem;
                @include round(2.5rem);
                border: 1px solid $darkBorder;
                background-color: $darkBorder;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .emoji-picker {
            width: 90%;
            align-self: center;
            display: grid;
            grid-gap: 0.3rem;
            grid-template-columns: repeat(auto-fill, minmax(2.3rem, 1fr));

            div {
                cursor: pointer;
                font-size: 1.5rem;
                @include round(2.5rem);
                justify-self: center;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(185, 185, 185, 0);
                transition: .3s;

                &:hover {
                    background-color: rgba(185, 185, 185, 0.644);
                }
            }
        }
    }

    h2 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;

        > p {
            margin-top: 1.2rem;
            margin-bottom: 0.4rem;
        }

        button {
            width: 6rem;
            align-self: center;
            margin-top: 2rem;
            margin-bottom: 0.5rem;
            border-radius: 2px;
            color: white;
            background-color: $casualColor;

            &:hover {
                background-color: darken($casualColor, 15%);
            }
        }
    }
}