@media (min-width: 400px) {
    .loc-select {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        form {
            max-width: 70%;
        }
    
        > button {
            align-self: center;
        }
    
        button {
            padding: 0.5rem 0.6rem;
            margin-bottom: 0;
        }
    }
}

@media (min-width: 586px) {
    html {
        font-size: 14px;
    }
    
    // nav bar
    nav {
        ul {
            li {
                width: 25vw;
            }
            button {
                margin: 0.75rem;
            }
        }
    }

    // login
    .login-container {
        flex-direction: row;
        
        .login, .signup {
            padding: 1rem;
        }
        
        .signup {
            border-left: 1px solid $darkBorder;
            border-top: none;
        }

        .emoji-picker {
            width: 80%;
        }
    }

    // filter
    .issue-filter {
        .issue-search, .category-filter {
            width: 17rem;
        }
        
        .issue-sort >:last-child {
            width: 13.2rem;
        }
    
        .el-radio-button__inner {
            width: 5.66rem;
        }
    }

    // issue list
    .issues-list {
        grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
        margin: 20px 3.5rem;
    }

    // home page
    .home {
        .container {
            padding: 20px;
        }

        .issue-carousel {
        
            .issue-preview {
                margin: 20px;
            }
        
            .carousel-arrow {
                font-size: 2rem;
            }
        }
    }

    .social-details {
        i {
            margin-right: 0.3rem;
        }
    }

    // issue details page
    .issue-details-page {
        margin-top: 30px;
        display: flex;
    
        .issue-details-container {
            padding: 0 2rem;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "details report"
            "details share"
            "img map";
        }
        .report-resolve {
            justify-self: end;

            > div {
                button {
                    width: 10.5rem;
                }
            }
        }
    
        i {
            margin-right: 6px;
        }
        
        .map {
            width: 100%;
            height: auto;
        }
    }

    .comments-container {
        .comments {
            height: 70%;
            overflow-y: auto;
        }
    }

    // issue edit page
    .issue-edit {
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "input delete"
        "input map-btns"
        "img map"
        ". btns";
    }

    .delete-btn {
        margin: 0.7rem;
    }

    // profile page
    .user-page {
        .routes-container {
            margin: 4rem 2rem;
        }
    }

    // about
    .about {
        .details {
            flex-direction: row;
            text-align: left;
        
            img {
                margin-right: 3rem;
            }
    
            h2 {
                margin-top: 0;
            }
        }

        .contact {
            text-align: left;
            padding: 1rem 0 1rem 20rem;
        }
    }
}
                                
@media (min-width: 768px) {
    html {
        font-size: 15px;
    }

    // nav bar
    nav {
        .nav-btn, ul button {
            display: none;
        }

        ul {
            flex-direction: row;
            position: inherit;
            height: fit-content;

            li {
                width: 100px;
                &:not(:last-child) {
                    border-right: 1px solid darken($bgColorLight, 50%);
                }

                &:hover, &.router-link-active {
                    box-shadow: inset 0px -37px 1px -32px $importantColor;
                }
            }
        }
    }

    .issue-details-page {
        flex-direction: row;
    
        .issue-details-container {
            flex: 2;
        }
    }

    .comments-container {
        margin-top: 0;
    }

    // issue edit
    .issue-edit {
        padding: 0 3rem;
    }

    .loc-select {
        button {
            padding: 0.6rem 0.6rem;
        }
    }

    .modal-container {
        .modal-inner {
            width: 70vw;
            margin: 60px auto;
            padding: 10px;
        }
    }
}

@media (min-width: 920px) {
    html {
        font-size: 16px;
    }

    // filter
    .issue-filter {
        margin: 3rem 2rem;
        flex-direction: row;
        button {
            display: none;
        }

        > div {

            > *:not(.issue-sort) {
                margin-right: 0.7rem;
            }

            &:last-of-type {
                flex-direction: row;
                &.close {
                    display: flex;
                }
                > * {
                    margin-top: 0;
                }
            }
        }

        .issue-search, .category-filter, .issue-sort >:last-child {
            width: 10.8rem;
        }
        
        .el-radio-button__inner {
            width: 4.7rem;
        }
    }

    // issue list
    .issues-list {
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    }
}