@media (max-width: 980px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 586px) {
    html {
        font-size: 13px;
    }
}