.modal-container {
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(189, 189, 189, 0.767);
    transition: .5s;

    .modal-inner {
        width: 70vw;
        max-height: 90vh;
        overflow-y: auto;
        margin: 60px auto;
        padding: 10px;
        border: 1px solid $darkBorder;
        border-radius: 5px;
        background-color: $bgColorLight;
    }

    &.open {
        visibility: visible;
        opacity: 1;
    }
}

// sure-validation

.sure-validation, .join-modal {
    margin: 2rem;
    text-align: center;
    h2 {
        line-height: 3rem;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 3rem;
    }

    .sure-btns {
        display: flex;
        justify-content: space-around;
        
        button {
            border-radius: 2px;
            color: white;
        }
    }
}

.sure-validation {
    button {
        width: 5rem;
        &:first-child {
            background-color: grey;
    
            &:hover {
                background-color: darken(grey, 15%);
            }
        }
    
        &:last-child {
            margin-left: 3rem;
            background-color: $urgentColor;
    
            &:hover {
                background-color: darken($urgentColor, 15%);
            }
        }
    }
}

.join-modal {
    p {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }

    button {
        width: 9rem;
        background-color: $casualColor;

        &:hover {
            background-color: darken($casualColor, 15%);
        }
    }
}