nav {
    display: flex;
    align-items: center;
    background-color: $hlColor;
    color: $bgColorLight;
    font-size: 1.2rem;
    
    .logo {
        flex: 1;
        margin: 1rem;
        font-size: 1.5rem;

        span {
            text-transform: uppercase;
            font-style: normal;
            color: $hlColor;
            background-color: $importantColor;
            border-radius: 3px;
            padding: 1px 2px;
            margin-left: 4px;
        }
        
        &.router-link-active {
            color: $bgColorLight;
        }
    }

    .nav-btn, ul button {
        @include round(2rem);
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: rgba(187, 187, 187, 0);
        font-size: 1.5rem;
        transition: .3s;
    
        &:hover {
            background-color: rgba(187, 187, 187, 0.6);
        }
    }

    ul {
        display: flex;
        z-index: 99;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -200px;
        background-color: $hlColor;
        height: 100vh;
        transition: .6s;

        &.open {
            right: 0;
        }

        li {
            width: 30vw;
            border-bottom: 1px solid darken($bgColorLight, 50%);

            &:hover, &.router-link-active {
                box-shadow: inset 37px 0px 1px -32px $importantColor;
            }
            cursor: pointer;
            text-align: center;
            padding: 1.5rem 1rem;
            transition: .3s;
        }

        button {
            margin: 0.72rem;
            align-self: flex-end;
        }

        .profile-link {
            position: relative;

            .notification {
                position: absolute;
                top: 0.8rem;
                right: 0.5rem;

                @include round(1.1rem);
                background-color: $urgentColor;
                color: white;
                font-weight: bold;
                font-size: 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }   
}