.user-msg {
    z-index: 1001;
    max-width: 80vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 60px;
    right: 10px;
    border-radius: 2px;
    padding: 0.6rem 1.5rem;
    opacity: 0.95;
    color: white;
    font-size: 1rem;

    &.success {
        background-color: $casualColor; 
    }

    &.error {
        background-color: $urgentColor;
    }

    button {
        align-self: flex-end;
        @include round(1.3rem);
        display: flex;
        color: white;
        border: rgba(255, 255, 255, 0);
        background-color: rgba(187, 187, 187, 0);
        transition: .3s;
        padding: 0;
    
        &:hover {
            background-color: rgba(187, 187, 187, 0.918);
        }
    }

    p {
        word-break: break-all;
        margin-top: 0.2rem;
    }
}