.user-page {
    h1 {
        margin: 3rem 2rem;
        font-size: 1.7rem;
        font-weight: bold;

        span {
            text-transform: capitalize;
        }
    }
    .routes-container {
        margin: 4rem 2rem;
        
        .links {
    
            margin-bottom: 15px;
            a {
                font-size: 1.2rem;
                font-weight: bold;
                border-top: 1px solid $hlColor;
                border-left: 1px solid $hlColor;
                padding: 12px 1.5rem;
                background-color: $bgColorLight;
                color: $hlColor;
                transition: .3s;
        
                &:first-of-type {
                    border-top-left-radius: 10px;
                }        
        
                &:last-of-type {
                    border-right: 1px solid $hlColor;
                    border-top-right-radius: 10px;
                }
    
                &:hover {
                    background-color: darken($bgColorLight, 15%);
                }
            }
    
            .router-link-active {
                background-color: $hlColor;
                color: white;
            }
        }
    
        .route-page-container {
            min-height: 60vh;
            border: 1px solid $hlColor;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
    
    .user-issues {
        h2 {
            font-size: 1.3rem;
            font-weight: bold;
            margin: 2rem;
        }
    }
    
    .user-profile {
        h2 {
            font-size: 1.3rem;
            font-weight: bold;
            margin: 2rem;
        }
    
        .msg-list {
            margin: 2rem;
        }
    
        .msg-container {
            width: 90%;
            padding: 0.4rem;
            font-size: 1.1rem;
            border-bottom: 1px solid $darkBorder;
            margin-bottom: 1.5rem;
    
            .time {
                color: $casualColor;
                font-size: 0.9rem;
                margin-bottom: 0.8rem;
            }
    
            a {
                text-transform: uppercase;
                color: $casualColor;
                font-weight: bold;
                transition: .3s;
    
                &:hover {
                    color: darken($casualColor, 15%);
                }
            }
    
            span:last-of-type {
                text-transform: capitalize;
            }
        }
    }
}
