$urgentColor: rgb(235,79,2);
$importantColor: rgb(244,130,8);
$casualColor: rgb(143,145,39);
$bgColorDark: rgb(230, 230, 230);
$bgColorLight: #ffffff;
$darkBorder: rgb(145, 145, 145);
$hlColor: rgb(75, 75, 54);
// $navColor: rgb(250, 188, 17);

@mixin round($size) {
    border: 0;
	border-radius: 50%;
    width: $size;
    height: $size;
}
